<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/offices">{{'label.anchor.manageoffices' | translate}}</a></li>
        <li class="active">{{'label.anchor.editoffice' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<form name="editofficeform" novalidate="" class="form-horizontal" 
    			ng-controller="EditOfficeController"
    		      rc-submit="submit()">
    		    <api-validate></api-validate>
    		    <fieldset>
    		        <legend>{{'label.heading.editoffice' | translate}}</legend>
				<div class="col-sm-9 col-md-9">
    				    <div class="form-group">
    				        <label class="control-label col-sm-2" for="name">{{ 'label.input.office' | translate }}<span
    				                class="required">*</span></label>
    		
    				        <div class="col-sm-3">
    				            <input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name"
    				                   class="form-control" required late-Validate/>
    				        </div>
    				        <div class="col-sm-3">
    				            <form-validate valattributeform="editofficeform" valattribute="name"/>
    				        </div>
    				    </div>
    				    <div class="form-group" data-ng-hide="parentId==id">
    				        <label class="control-label col-sm-2">{{ 'label.input.parentoffice' | translate }}<span class="required">*</span></label>
    		
    				        <div class="col-sm-3">
    				            <select chosen="offices" id="parentId" ng-model="formData.parentId"
    				                    ng-options="office.id as office.name for office in offices"
    				                    value="{{office.id}}" class="form-control"></select>
    				        </div>
    				    </div>
    				    <div class="form-group">
    				        <label class="control-label col-sm-2">{{ 'label.input.openedon' | translate }}<span
    				                class="required">*</span></label>
    		
    				        <div class="col-sm-3">
    				            <input id="openingDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
    				                   is-open="opened" min="minDate" max="restrictDate" class="form-control"/>
    				        </div>
    				    </div>
    				    <div class="form-group">
    				        <label class="control-label col-sm-2">{{ 'label.input.externalid' | translate }}</label>
    		
    				        <div class="col-sm-3">
    				            <input id="externalId" type="text" name="externalId" ng-model="formData.externalId" class="form-control"/>
    				        </div>
    				    </div>

    				    <div class="col-md-offset-3">
    				        <a id="cancel" href="#/offices">
    				            <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
    				        </a>
    				        <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_OFFICE'>{{'label.button.save' | translate}}</button>
    				    </div>
				</div>
             <div class="pull-right">
	<div data-ng-show="parentId==id">
      <script type="text/ng-template" id="uploadpic.html">
		<div class="modal-header silver">
			<h3 class="bolder">{{'label.heading.selectofficeimage' | translate}}</h3>
		</div>
		<div class="modal-body">
			<api-validate></api-validate>
			<br>
			<input type="file" ngf-select ng-model="file">
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
			<button class="btn btn-primary" ng-click="upload(file)">{{'label.button.upload' | translate}}</button>
		</div>
	</script>
	<script type="text/ng-template" id="deletePic.html">
		<div class="modal-header silver">
			<h3 class="bolder">{{'label.heading.deleteofficeimage' | translate}}</h3>
		</div>
		<div class="modal-body">
			<api-validate></api-validate>
			<br>
			<button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
			<button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
		</div>
	</script>
								 
		<img ng-hide="office.imagePresent" ng-src="./images/office-image-placeholder.png" alt="Logo">
		<img ng-show="office.imagePresent"  ng-src="{{image}}" alt="Logo" data-ng-click="showPicture()" title="{{'label.zoom' | translate}}" >
			<div class="btn-group-xs center">
			<button type="button" class="btn btn-primary" data-ng-click="uploadPic()"
											uib-tooltip="{{'label.button.uploadpic' | translate}}">
										<i class="fa fa-upload"></i>&nbsp;{{'label.button.uploadLogo' | translate}}
									</button>
									<button type="button" class="btn btn-primary" ng-show="office.imagePresent" data-ng-click="deletePic()"
											uib-tooltip="{{'label.button.deletepic' | translate}}">
										<i class="fa fa-trash-o"></i>
									</button>
	</div>
    				    </div>
				    </div>
    		    </fieldset>
    		</form>
    	</div>
    </div>
</div>
